<h3> To Do List </h3>
<%= link_to 'New Item', new_todo_path %>

<table class="table table-striped table-condensed">
  <% @todos.each do |todo| %>
    <tr>
      <td><%= check_box_tag :checked, true, todo.checked, data:{ url: checked_todo_path(todo), method: :post, remote: true} %></td>
      <td><%= todo.name %></td>
      <td><%= todo.duedate %></td>
      <td><%= link_to 'Details', todo_path(todo) %></td>
      <td><%= link_to 'Edit', edit_todo_path(todo) %></td>
      <% if todo.duedate > DateTime.now %>
      <td><%= link_to 'Delete', todo_path(todo), method: :delete, data:{ confirm: "Are you sure?" } %></td>
      <% else %>
      <td>Overdue</td>
      <% end %>
    </tr>
  <% end %>
</table>

<%= link_to 'New Item', new_todo_path %>

